[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
tc-sub = "mypy ./create_subscriber_csv.py --config-file ./.mypy.ini"
tc-ci = "mypy ./create_channel_id_csv.py --config-file ./.mypy.ini"

[dev-packages]

[packages]
pandas = "*"
jupyterlab = "*"
google-api-python-client = "*"
seaborn = "*"
mypy = "*"
flake8 = "*"
janome = "*"
mecab-python3 = "*"
gensim = "*"
tqdm = "*"
scikit-learn = "*"
scipy = "*"
numpy = "*"
nltk = "*"
lightgbm = "*"
matplotlib-venn = "*"
xgboost = "*"
jupyter = "*"
optuna = "*"

[requires]
python_version = "3.8"
